<!DOCTYPE html>
<html>
<head>
	<title> AGENT DATASHEET</title>
	<link rel="stylesheet" type="text/css" href="static/style.css">
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">  

</head>
<body>
	<header>
		<div class="main">
		
		
		 <ul>
		 <li class="active"><a href="{{url_for('home')}}"><i class="fa fa-home"></i>Home</a></li>
		 <li><a href="{{url_for('state')}}">Statewise</a></li>
		 <li><a href="{{url_for('statedis')}}">State_Districtwise</a></li>
		 <li><a href="{{url_for('pincodewise')}}">Pincodewise</a></li>
		 <li><a href="{{url_for('from_pincodewise')}}">From_To_Pincodewise</a></li>
		 <li><a href="{{url_for('Company_Name')}}">Company_Name</a></li>
		 <li><a href="{{url_for('overall')}}">Overall</a></li>
		 
		 
		</ul>

		 </div>
		 <div class="title">
		 	<h1>AGENT DATA</h1>
		 </div>
		 

		 	</header>

</body>
</html>